.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 1px solid #cecece;
    padding: 3em 4em;
    gap: 1em;
}

.container .flex{
    display: flex;
    justify-content: space-between;
    
}

.container .flex span {
    font-size: 1.4em;
    color:black
}

.container .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
}

table {
    width: 100%;
  }
  
  .table-header {
    color: #ffffff; /* White text color */
    font-size: 1.1em;
    text-align: center;
    background: #FF5733; /* Orange background color */
    padding: 18px 0;
  }
  
  .table-body {
    font-size: 1.1em;
    text-align: center;
    color: #333333; /* Dark text color */
    background: #d8d8d8; /* Light gray background color */
    padding: 18px 0;
  }
  
  .table-header > tr > td {
    border: 1px solid #faff5a;
  }