

h1 {
    text-align: center;
    
    
}

h2 {
    margin-left:200px;
}

.header {
    width: 1500px;
    height: 75px;
    background-color: green;

}

img {
    margin-left:480px;
    
}

.body1 {
    background-image: url("../components/aws1.png");
    background-repeat: no-repeat;
    background-size:cover;

}



.abc {
    display: flex;
    justify-content: center;
    margin-left:600px;
    padding-top: 2em;
    /* Light gray background */
        
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    color: white;
    width:200px;
    text-decoration: none;
    background-color: blue; /* Green button color */
     /* Add a smooth transition effect */
}


.btn :hover {
    background-color: white; /* Darker green on hover */
}
