import React, { useRef } from 'react'
import { useDispatch } from 'react-redux'

import { setUserId } from '../redux/result_reducer'

import { Link } from 'react-router-dom'


import amazonLogo from './aws.png'; // Make sure to import your Amazon logo image

import '../styles/Welcome.css'

    <div>
        <div className='header'>
        <h1>Welcome to the Amazon Mock CLF CO2 Test Quiz!</h1>
        </div>
      <img src={amazonLogo}  alt="Amazon Logo" style={{ width: '500px', height: 'auto' }} />
      
      <h2>
        Test your knowledge on Amazon's CLF (Carbon Lifecycle Framework) and CO2 emissions.
      </h2>

      
            <Link className='abc' to={'/main'} onClick={startQuiz}>Start Quiz</Link>
        
      
    </div>
)
}
